/*  your css code here. If applicable */
.card{
	width: 300px;
	padding: 20px;
	background-color: white;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.image{
	width: 100%
}
.title{
	margin-top: 0;
}
.price{
	margin-top: 0;
	font-weight: bold;
}
.desc{
	margin-bottom: 10px;
}
.btn{
	color: white;
	background-color: indianred;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}